body {
  padding: 0;
  margin: 0; }

header .navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  color: white;
  position: fixed;
  z-index: 100; }
  header .navbar nav {
    margin: 0;
    float: left;
    margin: 0;
    border: 0; }
header nav {
  margin: 0;
  border: 0; }

#my_home {
  color: white; }
  #my_home .jumbotron .img1 {
    background-image: url(../assets/img/laptop-2557574_1920-570x380.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%; }
    #my_home .jumbotron .img1 .fondo {
      background-color: rgba(0, 0, 0, 0.6);
      height: 640px;
      width: 100%; }
  #my_home .jumbotron .img2 {
    background-image: url(../assets/img/laptop-2558665_1920-570x380.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%; }
    #my_home .jumbotron .img2 .fondo {
      background-color: rgba(0, 0, 0, 0.6);
      height: 640px;
      width: 100%; }
  #my_home .jumbotron .img3 {
    background-image: url(../assets/img/laptop-2592785_640-570x380.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%; }
    #my_home .jumbotron .img3 .fondo {
      background-color: rgba(0, 0, 0, 0.6);
      height: 640px;
      width: 100%; }

#aboutUs {
  width: 100%;
  height: 645px; }

#services {
  background-image: url(https://i.pinimg.com/originals/c4/42/48/c44248eb5a972ba597b92aa45bbd62ac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  width: 100%; }
  #services .fondo {
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    width: 100%; }
    #services .fondo .text h1 {
      margin-top: 8%;
      color: #fff; }
    #services .fondo .text p {
      margin-left: 15%;
      color: #fff; }
    #services .fondo .text .botones .sm {
      width: 60%;
      height: 50px; }
    #services .fondo .text .botones .cta {
      margin-top: 10%;
      background-color: #ff9d00;
      color: #fff;
      transition: .2s ease; }
      #services .fondo .text .botones .cta:hover {
        background-color: transparent;
        color: #ff9d00;
        border: 1px solid #ff9d00;
        transition: .2s ease; }
    #services .fondo .text .botones .ghost {
      background-color: transparent;
      border: 1px solid #ff9d00;
      color: #ff9d00;
      transition: .2s ease; }
      #services .fondo .text .botones .ghost:hover {
        background-color: #ff9d00;
        color: #fff;
        transition: .2s ease; }

#blog {
  background-color: #ff9d00; }

.parallax4 {
  background-image: url(https://assets.ynap-content.com/winsome-1480337162820.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  width: 100%; }
  .parallax4 .fondo {
    background-color: rgba(0, 0, 0, 0.6);
    height: 700px;
    width: 100%; }
  .parallax4 .title {
    color: #fff; }
  .parallax4 input[type=text], .parallax4 select, .parallax4 textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Baloo Bhaijaan"; }
  .parallax4 .ghost {
    width: 15%;
    height: 50px;
    margin-left: 10%;
    background-color: transparent;
    border: 1px solid #ff9d00;
    color: #ff9d00;
    transition: .2s ease; }
    .parallax4 .ghost:hover {
      background-color: #ff9d00;
      color: #fff;
      transition: .2s ease; }

/*# sourceMappingURL=main.css.map */
