$primary: #ff9d00;
$secondary: #f3f3f3;
$white: #fff;
$black: #000000;
body {
    padding: 0;
    margin: 0;
}

header {
    .navbar {
        width: 100%;
        height: 80px;
        background-color: transparent;
        color: white;
        position: fixed;
        z-index: 100;
        nav{
            margin: 0;
            float: left;
            margin: 0;
            border: 0;
        }
        
    }
    nav {
        margin: 0;
        border: 0;
    }
}

//SECTION ----------- HOME ----------- ESTILO ---------- DE -------- CARRUSEL
#my_home {
    color: white;
    .jumbotron {
        .img1 {
            background-image: url(../assets/img/laptop-2557574_1920-570x380.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            width: 100%;
            .fondo {
                background-color: rgba(0, 0, 0, 0.60);
                height: 640px;
                width: 100%;
            }
        }
        .img2{
            background-image: url(../assets/img/laptop-2558665_1920-570x380.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            width: 100%;
            .fondo {
                background-color: rgba(0, 0, 0, 0.60);
                height: 640px;
                width: 100%;
            }
        }
        .img3{
            background-image: url(../assets/img/laptop-2592785_640-570x380.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            width: 100%;
            .fondo {
                background-color: rgba(0, 0, 0, 0.60);
                height: 640px;
                width: 100%;
            }
        }
    }
    
}

//SECTION ------------ ABOUT US ----------- ESTILO ---------- DE --------- PORCENTAJES
#aboutUs {
    width: 100%;
    height: 645px;
}



#ourTeam {
    .services {
    padding:  80px 20px 40px
        h2 {
            margin: 0 0 50px;
            font-weight: normal
        }
        .item {
            float: left;
            width: 33.3333%;
            margin-bottom: 20px;
        }
        .item span{
            color: #1abc9c;
            float: left;
            width: 10%;
            margin-right: 16%;
            margin-top: 10px
        }
        .item .info{
            float: left;
            width: 70%
        }
        .item .info h3 {
            color: #585353;
            margin-bottom: 10px
        }
        .item .info p {
            margin-top: 0;
            color: #888
        }
    }
}

//SECTION ------------------------ SERVICES --------------------- WELCOME TO WINSOME
#services {
    background-image: url(https://i.pinimg.com/originals/c4/42/48/c44248eb5a972ba597b92aa45bbd62ac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    .fondo {
        background-color: rgba(0, 0, 0, 0.60);
        height: 400px;
        width: 100%;
        .text {
            h1 {
                margin-top: 8%;
                color: $white;
            }
            p {
                color: $white;
            }
            .botones {
                    .sm { 
                        width: 60%;
                        height: 50px;
                    }
                    .cta {
                        margin-top: 10%;
                        background-color: $primary;
                        color: $white;
                        transition: .2s ease;
                        &:hover {
                            background-color: transparent;
                            color: $primary;
                            border: 1px solid $primary;
                            transition: .2s ease;
                        }
                    }
                
                .ghost {
                    background-color: transparent;
                    border: 1px solid $primary;
                    color: $primary;
                    transition: .2s ease;
                    &:hover {
                       background-color: $primary;
                       color: $white;
                       transition: .2s ease;
                   }
                }
            }
        }
    }
}

//-------SECCION ------------- DE ------------- BLOG ------------- CARRUSEL
#blog {
    background-color: $primary;
}

//-------------- ESTILO ------------ DE -----------contacto
.parallax4{
    background-image: url(https://assets.ynap-content.com/winsome-1480337162820.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
    .fondo {
        background-color: rgba(0, 0, 0, 0.60);
        height: 700px;
        width: 100%;
    } 
    .title {
        color: $white;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc; 
        box-sizing: border-box;
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
        font-family:"Baloo Bhaijaan";
    }

    //ESTILO ------------- DEL ----------- BOTTON
   .ghost {
        width: 15%;
        height: 50px;
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;
        transition: .2s ease;
        &:hover {
           background-color: $primary;
           color: $white;
           transition: .2s ease;
       }
    }
}
/*=================section de mapa===============*/
.input-mapa {
    margin-top: 2%;
    #map {
        background-repeat: no-repeat;
        width: 80%;
        height: 200px;
        border: 2px solid black;
    }
    p {
        color: $white;
    }
}




//------ SECCIÓN -------------------- FOOTER ---
#section-footer {
    background-color: darkgrey;
    height: 500px;
    width: 100%;
}


// ---------------- FOOTER ----
.footer {
    background-color: $black;
}
